# Include Production Server Requirements & locked Dev Requirements
-r requirements.txt
--editable .

#Coverage
coverage==5.5

# Linting
flake8==3.9.2
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.0
pylint==2.11.1
pylint-plugin-utils==0.6
pyflakes==2.3.1

# Test
requests_mock==1.9.3
tox==3.24.4

# Doc
pandoc==1.1.0

# Editor
autopep8==1.5
