# Include Production Server Requirements & locked Dev Requirements
-r requirements.txt
--editable .

#Coverage
coverage==5.1

# Linting
flake8==3.7.9
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
flake8-quotes==3.0.0
pylint==2.4.4
pylint-plugin-utils==0.6
pyflakes==2.1.1

# Test
requests_mock==1.7.0
tox==3.14.5

# Doc
pandoc==1.0.2

# Editor
autopep8==1.5
