# Include Production Server Requirements & locked Dev Requirements
-r requirements.txt
--editable .

#Coverage
coverage==6.3

# Linting
flake8==4.0.1
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
pylint==2.12.2
pylint-plugin-utils==0.7
pyflakes==2.4.0

# Test
requests_mock==1.9.3
tox==3.24.5

# Doc
pandoc==2.0.1

# Editor
autopep8==1.5
