[tool.poetry]
name = "qpc"
version = "1.0.1"
description = ""
authors = ["QPC Team <quipucords@redhat.com>"]
license = "GPLv3"
exclude = [
    "**/test_*.py",
    "**/*_tests.py",
    "**/tests_*.py",
]

[tool.poetry.scripts]
qpc = 'qpc.__main__:main'

[tool.poetry.dependencies]
python = "^3.8"
requests = ">=2.28.1"
cryptography = ">=37.0.4"

[tool.poetry.group.dev.dependencies]
coverage = ">=6.4.2"
black = ">=22.6.0"
flake8 = "*"
flake8-docstrings = ">=1.6.0"
flake8-quotes = ">=3.3.1"
flakeheaven = ">=1.0.0"
isort = ">=5.10.1"
pylint = ">=2.14"
pylint-pytest = ">=1.1.2"
pytest = ">=7.1.2"
pytest-cov = ">=3.0.0"
pytest-lazy-fixture = ">=0.6.3"
requests-mock = ">=1.9.3"
pytest-mock = "^3.8.2"
tox = "^4.4.4"

[tool.poetry.group.ci.dependencies]
tox = "^4.4.4"
tox-gh-actions = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.flakeheaven]
base = "https://raw.githubusercontent.com/quipucords/linting/main/base-flakeheaven.toml"

[tool.isort]
profile = "black"
known_first_party = ["qpc"]

[tool.pylint.master]
load-plugins = ["pylint_pytest"]

[tool.pytest.ini_options]
pythonpath = "qpc"
python_files = [
    "tests.py",
    "test_*.py",
    "*_tests.py",
    "tests_*.py",
]
