calver
cffi>=1.12;platform_python_implementation!='PyPy'
flit_core>=3.2,<4
flit_core>=3.3
flit_core>=3.4,<4
flit_core>=3.8,<4
hatchling>=1.6.0,<2
packaging>=20.0
setuptools
setuptools-rust>=0.11.4
setuptools-scm
setuptools-scm[toml]>=6.2.3
setuptools>=40.8.0
setuptools>=45
setuptools>=45.0
setuptools>=61.0.0
setuptools>=62.4
typing_extensions
wheel
